/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body {
	max-width: 876px;
	margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
	margin: 30px 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 36px;
}

nav a {
	text-decoration: none;
	margin-right: 60px;
	color: grey;
}

.logo {
	margin-left: auto;
}

@media (max-width: 800px) {
  .navbar {
    margin-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .logo {
    margin-left: 0;
  }

}

.jumbotron {
	margin: 40px 0;
	display: flex;
}

.jumbotron > img {
	width: 46%;
	margin-left: auto;
}


.cta {
	width: 49%;
	text-align: center;
	vertical-align: top;
	margin-top: 45px;
}

.cta h2 {
	font-size: 80px;
	margin-bottom: 0;
}

.cta button {
	margin-top: 20px;
	border: 1px solid black;
	background-color: white;
	padding: 0 40px;
	font-family: inherit;
	font-size: 18px;
}

@media(max-width: 800px) {

  .jumbotron {
    margin-top: 0;
    margin-bottom: 80px;
  }

  .jumbotron > img {
    display: none;
  }

  .cta {
    width: 100%; 
    text-align: center;
  }
}

header {
	border-bottom: 1px solid black;
}

.double-text-section, .triple-text-section {
	display: flex;
}

.double-text-section > * {
	width: 48%;
}

.double-text-section > *:nth-child(1) {
	margin-right: 2%;
}

.text-section {
	margin: 30px 0;
}

h3 {
	font-size: 18px;
}

.middle-img {
	margin: 20px 0;
}

.triple-text-section {
	border-bottom: 1px solid black;
}

.triple-text-section .text-section {
	margin-bottom: 50px;
}

.triple-text-section > * {
	width: 31%;
}

.triple-text-section > *:nth-child(1), .triple-text-section > *:nth-child(2) {
	margin-right: 3%;
}

.contact {
	margin: 30px 0;
}

.contact a {
	text-decoration: none;
	color: black;
}

footer {
	height: 150px;
	margin-top: 30px;
	padding: 30px 0;
}

footer p {
	text-align: center;
}

.services-header-img {
	margin-bottom: 30px;
	margin: 0 auto 30px;
}

h1 {
	font-size: 1.6rem;
}

.services-header {
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.services-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	border-bottom: 2px solid black;
}

.services-excerpt {
	border: 1px solid black;
	background-color: whitesmoke;
	padding: 1.2rem;
	width: 48%;
	margin-bottom: 2.1rem;
}

.services-excerpt > button {
	border: 1px solid black;
	border-radius: 5px;
	font-size: .7rem;
	padding: .7rem 2.4rem;
	margin-top: 1.2rem;
	background-color: white;
}

.facts-section {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.facts-content {
	width: 45%;
}

.facts-section ul {
	margin-top: 2rem;
	list-style-type: square;	
}

.facts-section li {
	padding-left: 10px;
	margin: 15px;
}

.services-info-img {
	width: 48%;
}

footer p {
	text-align: center;
}
